*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}html,body{
    width: 100%;
    height: 100%;
    /* background-color: rgb(17, 17, 87); */
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(17, 17, 87);
}header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0.1%; 
    background-color: rgb(5, 5, 93);

    
}.B>button{
    background-color: purple;
    margin-right: 5%;
    width: 100%;
    align-items: center;
    border: none;
    border-radius: 10px;
   
    
}.B{
    display: flex;
    justify-content: space-between;
    width: 20%;
   
    align-items: center;
   
}
.icon>i{
    margin-left: 20%;
    font-size: 30px;
    color: white;
   
}
ul{
    width: 25%;

 list-style: none;
    display: flex;
    gap: 20%;
    align-items: center;
}li{
    font-size: 18px;
}
li:hover{
      cursor: pointer;
      width: 100%;
      text-shadow: 10px 10px 10px black;
 } header h1{
color: aliceblue;
}
.left{
    width: 50%;
   padding-top: 5%;
  
}
.left>h1{
    margin-top: 8%;
    margin-left: 5%;
    border: 2px solid aliceblue;
    padding-left: 5%;
    height: 50px;

}
.left>p{
    margin-top: 7%;
    margin-left: 7%;
    font-size: 20px;

}
.left>h3{
    padding-top:5%;
    margin-left: 5%;
    font-size: 25px;
}.left>h1{
    color: aliceblue;
}
.left>h2{
    padding-top:5%;
    margin-left: 5%;
    font-size: 30px;
}
.left>button{
    background-color: purple;
    width: 20%;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 2%;
    color: aliceblue;
    border-radius: 10px;
    border: none;
}
.right{
    position: absolute;
    top: 0%;
    left: 45%;
    width: 50%;
    height: 100%;
   
}
.right>img{
    width: 90%;
    height: 60%;
    position: absolute;
    top: 30%;
    left: 10%;

    
}.page2>.left>img{
 
    height: 40%;width: 80%;
}.page2>.right{
    height: 80vh;
    width: 50%;
    margin-top: 50%;
   
}.page2>.right>h1{
    color: rgb(15, 15, 158);
}.page2>.right>h2{
    color: rgb(70, 70, 239);
}
.right>p1{
    color: black;
    margin-right: 5%;
   

}.right>H1{
    margin-top: 10%;
}
.right>h2{
    margin-top: 6%;
}
.i{
   width: 30%;
   height: 80%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 20%;
  
   gap: 30%;
  
}
.i>img{
    width: 70%;
    height: 20%;
}
.i1, .i2, .i3, h1,p2 {
    color: darkblue;

}.page3{
    height: 150%;
    width: 100%;
    background-color: rgb(220, 230, 230);
  
}.content{
    height: 50vh;
    width: 80%;
  padding-left: 5%;
}.content>h2{
    color: black;
    padding-left: 45%;
    padding-top: 8%;
    font-size: 30px;
}.content>p{
   width: 120%;
    color: black;
    padding-top: 5%;
    font-size: 23px;

}.content>h1{
    padding-left: 35%;
    padding-top: 3%;
    font-size: 45px;
}.content1{
    width: 100%;
    height: 100%;
    background-color: rgb(220, 230, 230);
    /* padding-left: 10%; */
  
}.content1>.left{
   width: 50%;
   height: 100%;
}.content1 .left>h1{
    color: black;
    border: none;
    margin-left: 10%;

}.content1 .left h1>p{
    color: black;
    font-size: 19px;


}.content1>.left img{
    
margin-left: 5%;
}
.content .left1{
    padding-left: 10%;
}.l{
    width: 50%;
 display: flex;
 margin-top: 5%;
 
}.l>img{
font-size: 5px;
} .p3>p{
    color: black;
   margin-left: 8%;
    font-size: 15px; 
}
.l1{
    width: 50%;
 display: flex;
 margin-top: 5%;
 
}.l1>img{
font-size: 5px;
} .p4>p{
    color: black;
   margin-left: 8%;
    font-size: 15px;
    width: 25%;
  
}
.l2{
    width: 50%;
 display: flex;
 margin-top: 5%;
 
}.l2>img{
font-size: 5px;
} .p5>p{
    color: black;
   margin-left: 8%;
    font-size: 15px;
    width: 25%;
  
}
.r{
    width: 50%;
 display: flex;
margin-left: 50%;
margin-top: 5%;
 
}.r>img{
font-size: 5px;

} .p6>p{
    color: black;
   margin-left: 8%;
    font-size: 15px;
    width: 25%;margin-left: 55%;

}
.r1{
    width: 50%;
 display: flex;
margin-left: 50%;
margin-top: 5%;
 
}.r1>img{
font-size: 5px;

} .p7>p{
    color: black;
   margin-left: 8%;
    font-size: 15px;
    width: 25%;margin-left: 55%;

}
.r2{
    width: 50%;
 display: flex;
margin-left: 50%;
margin-top: 5%;
 
}.r2>img{
font-size: 5px;

} .p8>p{
    color: black;
   margin-left: 8%;
    font-size: 15px;
    width: 25%;margin-left: 55%;

}.page4{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(125, 159, 159); */
 
    font-size: 25px;
    padding-top: 10%;
}.page4>h1{
    padding-left: 30%;
}
.page4>h2{
    padding-left: 35%;
    color: black;
}
.n{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 30px;
    /* margin-left: 1%; */
    margin-right: 3%;
    margin-top: 5%;
    overflow-x: hidden;
}
.n1{
    height: 30%;
    width: 30%;
    /* background-color: aqua; */
    
}.n1>img{
    transition: 1s;
}
.n1 >img:hover{
    transform: scale(1.1);
    border: solid white 2px;
}
.n2{
    height: 40%;
    width: 30%;
    background-color: aqua;
   

}.n2>img{
    transition: 1s;
}
.n2 >img:hover{
    transform: scale(1.1);
    border: solid white 2px;
}
.n3{
    height: 40%;
    width: 30%;
    background-color: aqua;
    
} .n3> img{
    transition: 1s;
    
}
.n3 >img:hover{
    transform: scale(1.1);
    border: solid white 2px;
}
p21{
    font-size: 15px;
    color: black;
   margin-left: 5%;

    width: 5%;
}
.n1>h1{
align-items: center;
justify-content: center;
margin-left: 20%;
font-size: 25px;
}.n2>h1{
    font-size: 25px;
    margin-left: 20%;
}.n3>h1{
    font-size: 25px;
    margin-left: 20%;
}

 .n1>button{
    background-color: rgb(114, 32, 114);
    margin-left: 15%;
 
}
.n2>button{
    background-color: rgb(114, 32, 114);
    margin-left: 25%;
 
       
} 
.n3>button{
    background-color: purple;
    margin-left: 25%;

}.p1{
  /* height: 50%;width: 100%; */

  display: flex;

}.n4>H1{
font-size: 80%;
}
.n4>p21{
    font-size: 65%;
   
}.n4>button{
    color: black;
   
        background-color: rgb(114, 32, 114);
        margin-left: 25%;
     
}.page5{
    height: 70%;
    width: 100%;
    background-color: rgb(35, 57, 133);
}.page5 .left{
height: 80%;
width: 50%;   
}.page5 .left >img{
    height: 120%;
    width: 80%;
    margin-left: 10%;
    
   


}
.page5 .right{
    height: 60%;
    width: 50%;

    padding-top: 10%;
    padding-left: 10%;
    margin-top: 230%;
}.page5 .right>h1{
    color: white;
    padding-left:10%;

}.page5 .right>p{
    font-size: 105%;
    margin-top: 5%;

}.page5 .right>button{
   color: black;
   width: 60%;
   height: 20%;
   font-size: 18px;
   padding-left: 10px;
   margin-left: 20%;
   margin-top: 5%;
   border-radius: 25px;
}.page5 .right>button>i{
    color: black;
}.page6{
    height: 40%;
    width: 100%;
    background-color: rgb(3, 15, 46);
}.p1{
    height: 50%;
    width: 60%;
padding :2% ;
    background-color: rgb(250, 251, 252);
  border-top-right-radius: 55px;
  border-bottom-right-radius: 55px;
    transform: translateY(50px);

   
}.p1>p,i{
color: rgb(18, 1, 1);

}.p1>i{
    font-size: 45px;
    padding-left: 10%;
}
.page7{
    height: 80%;
    width: 100%;
    background-color: rgb(3, 15, 46);
}.page7>.left{
     height: 80%;
     width: 20%;
    
     color: white;
    

}.page7>.left>i{
    margin-left: 15%;
    font-size: 60px;
    color: white;
   
}.page7>.left>p{
 margin-top: -10px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;


}.page7>.left>h6{
     margin-left: 10%;
     margin-top: -10px;
}.page7>.left>.i1{
    font-size: 30px;
    margin-top: 8%;
}
.page7>.left>.i2{
    font-size: 30px;
}
.page7>.left>.i3{
    font-size: 30px;
}
 .page7>.right{
    height: 60%;
    width: 80%;
    display: flex;
    margin-top: 280%;
    margin-left: -25%;
    padding-right: 50%;
    background-color: rgb(3, 15, 46);

}.page7>.right>.r1{
display: inline-block;
font-size: 70%;
}.page7>.right>.r2{
    display: inline-block;
    font-size: 70%;
 }.page7>.right>.r3{
    margin-top: 5%;
    padding-left: 20%;
    font-size: 70%;
        display: inline-block;
     } 

     @media (max-width:600px){
        body{
            height: 100%;
            width: 100%;
         
        }
        ul{
            display: none;
        }.B{
            width: 30%;
        }.left{
        width: 50%;
          padding-top: 20%;
        }.left>h1{
           border: none;
        }.left>p{
            padding-top: 20%;
        }.left>button{
            width: 40%;
            margin-top: 5%;
        }.right{
            width: 50%;
        }.right>img{
            height: 60%;
            object-fit: cover;
        }.page2{
            display:block;
            width: 100%;
        }
        .page2>.left{
            width: 100%;height: 100%;
        }.page2>.left>img{
            width: 50%;
            height: 50%;
            object-fit: cover;
        }.page2>.right{
            width: 50%;
            height: 50%;
            margin-top: 120%;
            margin-left: 5%;
        }.page2>.right>h2{
margin-top: 25%;
margin-left: -30%;
font-size: 30px;

        }.i{
            margin-top: -90px;
        padding-left:10%;
        }
        .page3{
            height: 100%;
            width: 100%;

        }.content>h2{
            width: 120%;
            font-size: 20px;
         
        }.content>h1{
            font-size: 30px;
        }
        .content>p{
            font-size: 15px;
        }.l{
            height: 10%;
            width: 10%;
        }.l>img{
            height: 30px;

        }.p3>p{
            font-size: 13px;
        }
        .l1{
            height: 10%;
            width: 10%;
        }.l1>img{
            height: 30px;

        }.p4>p,h1{
            font-size: 13px;
        }
        .l2{
            height: 10%;
            width: 10%;
        }.l2>img{
            height: 30px;

        }.p5>p,h1{
            font-size: 13px;
        }
        .l3{
            height: 10%;
            width: 10%;
        }.l3>img{
            height: 30px;

        }.p6>p,h1{
            font-size: 13px;
        }
        .r{
            margin-top: -70px;
            height: 10%;
            width: 10%;
        }.r>img{
            height: 30px;

        }.p6>p,h1{
            font-size: 13px;
        }
        .r1{
            height: 10%;
            width: 10%;
        }.r1>img{
            height: 30px;

        }.p7>p,h1{
            font-size: 13px;
        }
        .r2{
            display: none;
            height: 10%;
            width: 10%;
        }.r2>img{
            height: 30px;

        }.p8>p,h1{
            font-size: 13px;
        }.page4{
            height: 80%;
            width: 100%;
          
        }.page5{
            height: 100%;
            width: 100%;
            display: block;
        }.page5>.right{
       margin-top: 430%;
        }.page5>.right>h1{
            font-size: 40px;
            margin-left: -80%;
          padding-top: 50%;
        }.page5>.right>p{
            font-size: 30px;
            margin-top: 40%;
        }.page5>.right>button{
            width: 90%;
            margin-left: -1%;
            text-align: center;
            margin-top: 10%;
        }.page6>.p1{
            width:80%;
        }.page7>.left>.i1{
font-size: 20px;
        }.page7{
            height: 100%;
        }
      .page7>.left>.i2{
      font-size: 20px;
       }
    .page7>.left>.i3{
  font-size: 20px;
      }
      .page7>.right{
        margin-top: 600%;
        display: flex;
        
        gap: 35%;
      }
      .page7>.right>.r3{
        display: none;
      }.page4>h1{
font-size: 45px;
      }.page4>h2{
    padding-top: 10%;
      }.page4>.n>.n1>img{
        height: 120%;
        width: 100%;

      }.page4>.n>.n1>h1{
        font-size: 20px;
      }.page4>.n>.n1>p21{
        display: none;

      }
      .page4>.n>.n2>img{
        height: 100%;
        width: 100%;
        background-color: none;

      }.page4>.n>.n2>h1{
        font-size: 15px;
      }.page4>.n>.n2>p21{
        display: none;

      }
      .page4>.n>.n3>img{
        height: 100%;
        width: 100%;

      }.page4>.n>.n3>H1{
        font-size: 15px;
      }.page4>.n>.n3>P21{
      
        display: none;

      }
        
        
     }
